# Ensure latest pip and build tools
pip>=25.2
setuptools>=68.0
wheel

# Core packages
flask==2.3.3
gunicorn==21.2.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
joblib==1.4.2

# ML packages
catboost==1.2.8
xgboost==2.1.1
lightgbm==4.5.0

# Visualization
seaborn==0.12.3
matplotlib==3.8.0
