# Web framework
flask==2.3.3
gunicorn==21.2.0

# Data processing
pandas==2.2.3
numpy==1.25.2
scikit-learn==1.5.2
joblib==1.4.2

# Machine learning models
catboost==1.2.8
xgboost==2.1.1
lightgbm==4.5.0

# Visualization
matplotlib==3.7.2
seaborn==0.12.2
plotly==6.3.0

# Dependencies for packages
scipy==1.11.2
threadpoolctl==3.2.0
